.bottom-cta {
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	background: linear-gradient(to bottom, $middle-gradient-color 0%, $secondary-brand-color 100%) no-repeat #a05fb7;
	padding-top: 50px;

	p {
		color: #fff;
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
	
	.demo-video{
		width: 960px !important;
		height: 580px !important;
	}
}

@media (min-width:998px) {
	
	.demo-video{
		width: 1204px !important;
		height: 680px !important;
	}
	section{
	.container{
		min-height: 480px;
	}
}

}

@media #{$mid-point}{
	.modal-content{
		padding: 20px 30px !important;
	}
	.demo-video{
		width: 680px;
		height: 460px;
	}
}

@media (max-width:619px) {
	
	.demo-video{
		width: 405px !important;
    	height: 264px !important;
	}
}

.demo-video{
	padding-bottom: 20px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 15px;
    text-align: center;
	z-index: 1000;
}


.close {
    color: #aaa;
    float: right;
	padding: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}
.close-container{
	display: flex;
	justify-content: end;
	padding-bottom: 10px;
}

// play button style
.play-button-container {
    position: relative;
    text-align: center;
}

.play-button-image {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
}

.play-button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px; /* Adjust the size of the play button overlay */
    height: 80px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-button-overlay::after {
    content: '▶️'; /* Unicode character for play button */
    font-size: 36px;
    color: #fff;
}
