.bottom-cta {
	background: linear-gradient(to bottom, $brand-color 0%, $middle-gradient-color 100%);
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 100px 0;

	h2 {
		margin-bottom: 50px;
	}
}

.testimonial {
	background: #f5f5f5;
	margin: 0;
	padding: 100px 0;

	.testimonial-block {
		max-width: 750px;
		width: 98%;
		margin: 0 auto;

		@media #{$tablet} {
			@include flexbox;

			blockquote {
				-webkit-flex: 1;
				flex: 1;
			}
		}
	}
}

.hero {
	color: #ffffff;
	text-align: center;
	background: linear-gradient(to bottom, $middle-gradient-color 0%, $secondary-brand-color 100%) no-repeat #a05fb7;
	padding-top: 50px;

	p {
		color: #fff;
	}
}


@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items:start;
		flex-direction: row;
		gap: 3rem;
		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}


	@media #{$desktop} {
		.flex {
			@include flexbox;
			align-items: start;
			flex-direction: row;
			gap: 3rem;
			.text, .image {
				-webkit-flex: 1;
				flex: 1;
				padding: 0 20px;
			}
		}

		.content section:nth-child(even) .flex {
			flex-direction: row-reverse;
		}
		.content section:nth-child(even) .flex {
			flex-direction: row-reverse;
		}
		
		.demo-video{
			width: 680px !important;
			height: 480px !important;
		}
		.video-section {
			width: 492px !important;
			height: 250px !important;
		}
	}

	@media (min-width:998px) {
		
		.demo-video{
			width: 992px !important;
			height: 508px !important;
		}
		.video-section {
			width: 632px !important;
			height: 322px !important;
		}
		section{
		.container{
			min-height: 380px;
		}
	}

	}

@media #{$mid-point}{
	.modal-content{
		padding: 20px 30px !important;
	}
	.demo-video{
		width: 680px;
		height: 460px;
	}
	.video-section {
		width: 482px;
		height: 222px;
	}
}

@media (min-width:406px) and (max-width:619px) {
	
	.demo-video{
		width: 380px !important;
    	height: 256px !important;
	}
	.video-section {
		width: 320px !important;
		height: 180px !important;
	}
	.image {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width:405px) {
	.demo-video{
		width: 296px !important;
    	height: 214px !important;
	}
	.video-section {
		width: 200px !important;
		height: 120px !important;
	}
	.image {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.demo-video{
	padding-bottom: 20px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 15px;
    text-align: center;
	z-index: 1000;
}


.close {
    color: #aaa;
    float: right;
	padding: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}
.close-container{
	display: flex;
	justify-content: end;
	padding-bottom: 10px;
}
